.voucher-extra-tag-container {
  min-width: 40px;
  font-size: 6px;
  line-height: 7px;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 6px;
}

.voucher-extra-tag-container .voucher-part {
  color: rgb(238, 77, 45);
  font-weight: 800;
}

.voucher-extra-tag-container .extra-part {
  font-style: italic;
  padding: 1px;
  color: white;
  font-weight: 700;
  background-color: rgb(248, 74, 26);
}
